$white_color: #ffffff;
$dark_color: #313131;
$main_color: #6344c6;
$pragrap_color: #626262;
$hadding_color: #414141;
$background_color: #eeebf2;
$border_color: #c4c4c4;
$all_background_color: #f5f5f5;
