#about {
  padding: 100px 0;
  .about_left {
    border: 1px solid $border_color;
    padding: 18px 26px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    h1 {
      font-weight: 700;
      color: $dark_color;
      font-size: 20px;
      padding-bottom: 5px;
      transition: all linear 0.3s;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
    }
    p {
      font-weight: 400;
      color: $pragrap_color;
      font-size: 16px;
      line-height: 24px;
      transition: all linear 0.3s;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
    }
    &:hover {
      background-color: $main_color;
      h1 {
        color: $white_color;
      }
      p {
        color: $white_color;
      }
    }
  }
  .about_right {
    @include media-breakpoint-down(xs) {
      margin-top: 50px;
      text-align: center;
    }
    .about_data {
      h1 {
        font-weight: 700;
        font-size: 32px;
        color: $dark_color;
        width: 60%;
        padding-bottom: 20px;
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $pragrap_color;
        padding-bottom: 40px;
        @include media-breakpoint-down(xs) {
          padding-bottom: 10px;
        }
      }
      button {
        color: $main_color;
        padding: 15px 32px;
        border: 1px solid $main_color;
        background-color: transparent;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        @include media-breakpoint-down(xs) {
          padding: 10px 15px;
          font-size: 15px;
        }
      }
    }
  }
}
.active {
  background-color: $main_color;
  h1 {
    color: $white_color;
  }
  p {
    color: $white_color;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(30px); /* Slightly slide down initially */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Smooth transition */
}

/* Active animation state */
.reveal.animation {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Slide back to original position */
}
